<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/headMeta.ejs') %>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/navbar.css">   
    <title>Document</title>
</head>
<body>
    <%- include('../components/navbar.ejs') %>

    
    <main class="main-container-index">
        <h1>All Campgrounds</h1>
        <section class="main-showcase-section">
            <% let column = 1 %>
            <% for (let campground of campgrounds){ %>
                <div class="card">
                    <img src="<%= campground.image %>" alt="campground-image">
                    <span class="card-descriptions">
                        <h2><%= campground.title %></h2>
                        <p><%= campground.description %></p>
                        <small><%= campground.location %></small>
                        <div class="btn">
                            <a href="/campgrounds/<%= campground._id %>">View <%= campground.title %></a>
                        </div>
                    </span>
                </div>
            <% } %>
        </section>
    </main>
    <%- include('../components/footer.ejs') %>

</body>
</html>