<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/headMeta.ejs') %>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/navbar.css"> 
    <title>Document</title>
</head>
<body>
    <%- include('../components/navbar.ejs') %>
    <main class="main-container-index">
        
        <div class="card">
            <img src="<%= campground.image %>" alt="campground-image">
            <span class="card-descriptions">
                <h2><%= campground.title %></h2>
                <p><%= campground.description %></p>
                <small><%= campground.location %></small>
                <div class="btn">
                    <a href="/campgrounds/<%= campground._id %>">View <%= campground.title %></a>
                </div>
            </span>
        </div>

        <a href="/campgrounds">Back</a>
        <a href="/campgrounds/<%= campground._id %>/edit">Edit</a>
        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
            <button>DELETE</button>
        </form>
    </main>
    <%- include('../components/footer.ejs') %>

</body>
</html>